body, html {
    margin: 0; 
    padding: 0; 
    height: 100%; 
    overflow: hidden;
    background-color: rgb(3, 5, 11);
}

body {
    background-image: url('../stargen.php'); /* Adjust the path as necessary in relation to you directory setup */
    /* background-size: cover;  Cover the entire area of the element */
    background-repeat: repeat; /* The generated image is not really tilable.  But even a 2560x2560 files is only ~250kb. So, it does not matter. */
}

#starfield {
    position: absolute; 
    width: 100%; 
    height: 100%; 
}
